<h1>Weekly tasks</h1>
<div ng-app="taskSchedule">
  <div ng-controller="NamesController">
    <h4>Select a family member</h4>
    <div class="btn-group">
      <select  ng-change="fetch()" ng-model="selectedName" ng-options="val as val['name'] for (key,val) in appData.familyMembers"></select>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="name in appData.names">{{name.name}}</li>
      </ul>
    </div>
    <div list-name></div>
      <table class="table">
        <tr>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
          <th>Sunday</th>
        </tr>
        <tr>
          <td ng-repeat="(day,task_descriptions) in taskData" value="{{task.id}}">
            <div ng-repeat="task in task_descriptions"> {{task}}</div>
          </td>
        </tr>
        <tr>
          <td ng-repeat="task in taskData.tasks" value="{{task.id}}">{{task.description}}</td>
        </tr>
        <tr>
          <td ng-repeat="task in taskData.tasks" value="{{task.id}}">{{task.description}}</td>
        </tr>
        <tr>
          <td ng-repeat="task in taskData.tasks" value="{{task.id}}">{{task.description}}</td>
        </tr>
        <tr>
          <td ng-repeat="task in taskData.tasks" value="{{task.id}}">{{task.description}}</td>
        </tr>
        <tr>
          <td ng-repeat="task in taskData.tasks" value="{{task.id}}">{{task.description}}</td>
        </tr>
        <tr>
          <td ng-repeat="task in taskData.tasks" value="{{task.id}}">{{task.description}}</td>
        </tr>
      </table>
  </div>
  <div ng-controller="TaskController">
    <h4>Add a task</h4>
    <form ng-submit="addTask()" role="form">
      Select Family Member:
      <select ng-change="fetch()" ng-model="newTask.familyMember" ng-options="val as val['name'] for (key,val) in appData.familyMembers"></select><br />
      Select Weekdays:
      <input type="checkbox" ng-model="newTask.monday"> Monday
      <input type="checkbox" ng-model="newTask.tuesday"> Tuesday
      <input type="checkbox" ng-model="newTask.wednesday"> Wednesday
      <input type="checkbox" ng-model="newTask.thursday"> Thursday
      <input type="checkbox" ng-model="newTask.friday"> Friday
      <input type="checkbox" ng-model="newTask.saturday"> Saturday
      <input type="checkbox" ng-model="newTask.sunday"> Sunday<br />
      Input Task Description:
      <input type='text' ng-model="newTask.description"><br />
      <button>Submit</button>
    </form>
  </div>
</div>