<h1>Weekly tasks</h1>
<div ng-app="taskSchedule">
  <div ng-controller="NamesController">
    <h4>Select a family member</h4>
    <div class="btn-group">
      <select ng-selected="showSel()" ng-model="selectedName" ng-options="val as val['name'] for (key,val) in appData.familyMembers"></select>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="name in appData.names">{{name.name}}</li>
      </ul>
    </div>
  </div>
</div>