<h1>Weekly tasks</h1>
<div ng-app="taskSchedule">
  <div ng-controller="NamesController">
    <h4>Select a family member</h4>
    <div class="btn-group">
      <select  ng-change="fetch()" ng-model="selectedName" ng-options="val as val['name'] for (key,val) in appData.familyMembers"></select>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="name in appData.names">{{name.name}}</li>
      </ul>
    </div>
    <div list-name></div>
      <table class="table table-bordered">
        <tr>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
          <th>Sunday</th>
        </tr>
        <tr>
          <td ng-repeat="(day,task_descriptions) in taskData">
            <div ng-repeat="task in task_descriptions" ng-click="completeTask(task.id, task.taskWeekdayId, item)" ng-class="itemClass(item)"> {{task.description}}<hr></div>
          </td>
        </tr>
      </table>
    <h4>Add a task</h4>
    <form ng-submit="addTask()" role="form">
      Select Family Member:
      <select ng-change="getUser()" ng-model="newTask.familyMember" ng-options="val as val['name'] for (key,val) in appData.familyMembers"></select><br />
      Select Weekdays:
      <input type="checkbox" ng-model="newTask.1"> Monday
      <input type="checkbox" ng-model="newTask.2"> Tuesday
      <input type="checkbox" ng-model="newTask.3"> Wednesday
      <input type="checkbox" ng-model="newTask.4"> Thursday
      <input type="checkbox" ng-model="newTask.5"> Friday
      <input type="checkbox" ng-model="newTask.6"> Saturday
      <input type="checkbox" ng-model="newTask.7"> Sunday<br />
      Input Task Description:
      <input type='text' ng-model="newTask.description"><br />
      <button>Submit</button>
    </form>
  </div>
</div>